body{
    width: 100%;
    height: 100%;
    margin: 0;
}


a{
    text-decoration:none;
    background-color:transparent;
    color:#ededed;
    text-align:right;
}

.header{
    background-color:black;
    color:white;
    border-color:#080808;
    min-height:50px;
    border:1px solid transparent;
}

.inner-header{
    width:80%;
    margin:auto;
}

.logo{
    float:left;
    height:50px;
    padding:15px;
    font-size:20px;
    font-weight:bold;
    text-align:left;
}

.header-link{
    float:right;
    font-size:14px;
    height:50px;
    padding: 15px 15px;
    font-size:16px;
    font-weight:bold;
    text-align:right;
}

.content{
    min-height:600px;
}

.banner-image{
    padding-bottom:80px;
    text-align:center;
    color:#f8f8f8;
    background: url(./img/pic.jpg) no-repeat center;
    background-size:cover;
    }




.inner-banner-image{
    padding-top:12%;
    width:80%;
    margin:auto;
   }

.banner-content {
    position:relative;
    padding-top:6%;
    padding-bottom:6%;
    overflow: hidden;
    margin-bottom:12%;
    background-color: rgba(0,0,0,0.7);
    max-width:660px;
}
.container{
    width:90%;
    margin:auto;
    overflow:hidden;
}
.thumbnail{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 0 auto;
}
.caption{
    color:#000;
    padding:0px 10px 10px;
    text-align: center;
}
.footer{
color:#fff;
background-color:#000;
font-size:16px;
text-align: center;
height:30%;
 border:1px solid transparent;

}
.shivi1{
    font-size: 200%;
    background: url(./img/pic.jpg) no-repeat center;
    background-size:cover;
    padding-top: 90px;
    padding-right: 30px;
    padding-bottom: 170px;
    padding-left: 100px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
  background:#007bb5;
  color:white;
}

